

*.o
*.dep
*.dep2
*~
*.orig
Makefile*

callgrind.out*
leak.out*
core*

gameSource/OneLife
gameSource/testUser/*
gameSource/testUser2/*
gameSource/recordedGames/*
gameSource/screenShots/*

server/OneLifeServer
server/log.txt
server/recentPlacements.txt
server/*.db
server/backups/
server/failureLog/
server/foodLog/
server/lifeLog/
server/categories
server/objects
server/transitions
gameSource/animations
gameSource/categories
gameSource/ground
gameSource/music
gameSource/objects
gameSource/overlays
gameSource/scenes
gameSource/transitions
gameSource/sprites
gameSource/sounds
gameSource/EditOneLife
gameSource/log.txt
gameSource/groundTileCache
gameSource/reverbCache
gameSource/settings
server/settings
gameSource/settings/useCustomServer.ini
server/runServer.bat
server/settings/forceEveLocation.ini
server/settings/requireTicketServerCheck.ini
gameSource/log.txt.backup
server/eveRadius.txt
server/testMap.txt
gameSource/spriteImportCache
gameSource/spriteImportCache/next.txt
gameSource/lineImportCache
gameSource/overlayImport
gameSource/lineImportCache/next.txt
gameSource/spriteImportCache/next.txt
gameSource/testMap.txt
server/testMapStale.txt
